############################
# Obsidian - 必须忽略（强烈推荐）
############################

# 工作区状态（窗口/当前文件/布局，多设备必冲突）
.obsidian/workspace
.obsidian/workspace.json

# 缓存文件（无价值，可再生）
.obsidian/cache/
.obsidian/index.db
.obsidian/index.db-shm
.obsidian/index.db-wal

############################
# Obsidian - 可选忽略
############################

# 同步/发布相关（你不用官方 Sync/Publish 可忽略）
.obsidian/graph.json
.obsidian/appearance.json

############################
# 系统垃圾
############################

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

############################
# 编辑器/临时文件
############################

*.tmp
*.temp
*.bak
*.swp
*.swo

############################
# 日志
############################

*.log


# Large files
1.English/顾家北手把手教你雅思写作6_0版_顾家北_GuJiabei_Z_Library.pdf
4.Robot/ML&DL/StatQuest-En.pdf
1.English/GRE-All-In-One/Verbal/Reading/解密GRE阅读逻辑线.pdf
1.English/GRE-All-In-One/Verbal/Text-Completion/Magoosh机经/Magoosh语文-1.pdf
1.English/GRE-All-In-One/Verbal/Text-Completion/Magoosh机经/Magoosh语文-2.pdf
9.Coding/CUDA C编程权威指南 (高性能计算技术丛书).pdf
4.Robot/ML&DL/StatQuest-Zh.pdf
4.Robot/Control/2013_预测控制(2nd).pdf
Chaos/商业/万物皆模型之《孙子兵法》72篇.pdf
