############################
# Obsidian - 必须忽略（强烈推荐）
############################

# 工作区状态（窗口/当前文件/布局，多设备必冲突）
.obsidian/workspace
.obsidian/workspace.json

# 缓存文件（无价值，可再生）
.obsidian/cache/
.obsidian/index.db
.obsidian/index.db-shm
.obsidian/index.db-wal

############################
# Obsidian - 可选忽略
############################

# 同步/发布相关（你不用官方 Sync/Publish 可忽略）
.obsidian/graph.json
.obsidian/appearance.json

############################
# 系统垃圾
############################

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

############################
# 编辑器/临时文件
############################

*.tmp
*.temp
*.bak
*.swp
*.swo

############################
# 日志
############################

*.log


# Large files
./1.English/顾家北手把手教你雅思写作6_0版_顾家北_GuJiabei_Z_Library.pdf
./4.Robot/ML&DL/StatQuest-En.pdf
